.header {
    background-color: #003580;
    padding-top: 100px;
    position: relative;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sub-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.sub-nav-item {
    margin-left: 20px;
    padding: 10px 35px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.sub-nav-item.active {
    border-color: white;
}

.sub-nav-item:hover {
    border-color: white;
}

.sub-nav-item span {
    font-weight: 400;
    margin-left: 0.8rem;
}

.header-content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 120px;
    color: white;
}

.header-content-wrapper h1 {
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-size: 2.5rem;
}

.header-content-wrapper p {
    font-weight: 500;
    font-size: 18px;
}

.header-content-wrapper button {
    margin-top: 40px;
    padding: 12px 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #0071c2;
    color: white;
    border-radius: 5px;
}

.search-bar-container {
    height: 50px;
    border: 3px solid #febb02;
    color: #333333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 5;
    position: absolute;
    bottom: -25px;
    top: auto;
    left: auto;
    right: auto;
    max-width: 1200px;
    width: 100%;
}

.headerIcon {
    margin-right: 5px;
    margin-left: 20px;
}

.search-bar-container input {
    height: 40px;
    width: 250px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.search-btn {
    padding: 10px 25px;
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}
