.navbar {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.logo {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: -0.02em;
    color: white;
}

.btn-container button {
    margin-right: 20px;
    padding: 10px 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
